SWLNVENTAS/App_WebReferences/SWADNETVENTAS/SWADNETVENTAS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59438/SWADNETVENTAS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Obtener_VArticulo_O_SiguienteCodigoArticulo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VArticulo_O_SiguienteCodigoArticuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_VArticulo_O_SiguienteCodigoArticuloResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_VArticulo_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="articulo" nillable="true" type="q1:EVArticulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_VArticulo_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VArticulo_O">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoArticulo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VArticulo_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VArticulo_OResult" nillable="true" type="q2:EVArticulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_VArticulo_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="articulo" nillable="true" type="q3:EVArticulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_VArticulo_AResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VArticulo_O_Todo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VArticulo_O_TodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VArticulo_O_TodoResult" nillable="true" type="q4:ArrayOfEVArticulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_VArticulo_E">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoArticulo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_VArticulo_EResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VDetalleVenta_O_SiguienteCodigoDetalleVenta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VDetalleVenta_O_SiguienteCodigoDetalleVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_VDetalleVenta_O_SiguienteCodigoDetalleVentaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_VDetalleVenta_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="detalleVenta" nillable="true" type="q5:EVDetalleVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_VDetalleVenta_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VDetalleVenta_O_CodigoVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoVenta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VDetalleVenta_O_CodigoVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VDetalleVenta_O_CodigoVentaResult" nillable="true" type="q6:ArrayOfEVDetalleVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>