SWLNVENTAS/App_WebReferences/SWADNETVENTAS/SWADNETVENTAS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SWADNETVENTAS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59438/SWADNETVENTAS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59438/SWADNETVENTAS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59438/SWADNETVENTAS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VCliente_O_SiguienteCodigoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VCliente_O_SiguienteCodigoCliente" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VCliente_O_SiguienteCodigoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VCliente_O_SiguienteCodigoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Insertar_VCliente_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_VCliente_I" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Insertar_VCliente_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_VCliente_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VCliente_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VCliente_O" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VCliente_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VCliente_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Actualizar_VCliente_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_VCliente_A" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Actualizar_VCliente_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_VCliente_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VClientes_O_Todo_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VClientes_O_Todo" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VClientes_O_Todo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VClientes_O_TodoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Eliminar_VCliente_E_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_VCliente_E" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Eliminar_VCliente_E_OutputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_VCliente_EResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VDetalleIngreso_O_SiguienteCodigoDetalleIngreso_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VDetalleIngreso_O_SiguienteCodigoDetalleIngreso" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VDetalleIngreso_O_SiguienteCodigoDetalleIngreso_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VDetalleIngreso_O_SiguienteCodigoDetalleIngresoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Insertar_VDetalleIngreso_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_VDetalleIngreso_I" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Insertar_VDetalleIngreso_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_VDetalleIngreso_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VDetalleIngreso_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VDetalleIngreso_O" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VDetalleIngreso_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VDetalleIngreso_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VIngreso_O_SiguienteCodigoIngreso_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VIngreso_O_SiguienteCodigoIngreso" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VIngreso_O_SiguienteCodigoIngreso_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VIngreso_O_SiguienteCodigoIngresoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Insertar_VIngreso_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_VIngreso_I" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Insertar_VIngreso_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_VIngreso_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VIngreso_O_CodigoIngreso_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VIngreso_O_CodigoIngreso" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VIngreso_O_CodigoIngreso_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VIngreso_O_CodigoIngresoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VIngreso_O_Todo_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VIngreso_O_Todo" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VIngreso_O_Todo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VIngreso_O_TodoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISWADNETVENTAS">
    <wsdl:operation name="Obtener_VCliente_O_SiguienteCodigoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VCliente_O_SiguienteCodigoCliente" message="tns:ISWADNETVENTAS_Obtener_VCliente_O_SiguienteCodigoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VCliente_O_SiguienteCodigoClienteResponse" message="tns:ISWADNETVENTAS_Obtener_VCliente_O_SiguienteCodigoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_VCliente_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Insertar_VCliente_I" message="tns:ISWADNETVENTAS_Insertar_VCliente_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Insertar_VCliente_IResponse" message="tns:ISWADNETVENTAS_Insertar_VCliente_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_VCliente_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VCliente_O" message="tns:ISWADNETVENTAS_Obtener_VCliente_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VCliente_OResponse" message="tns:ISWADNETVENTAS_Obtener_VCliente_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_VCliente_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Actualizar_VCliente_A" message="tns:ISWADNETVENTAS_Actualizar_VCliente_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Actualizar_VCliente_AResponse" message="tns:ISWADNETVENTAS_Actualizar_VCliente_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_VClientes_O_Todo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VClientes_O_Todo" message="tns:ISWADNETVENTAS_Obtener_VClientes_O_Todo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VClientes_O_TodoResponse" message="tns:ISWADNETVENTAS_Obtener_VClientes_O_Todo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar_VCliente_E">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Eliminar_VCliente_E" message="tns:ISWADNETVENTAS_Eliminar_VCliente_E_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Eliminar_VCliente_EResponse" message="tns:ISWADNETVENTAS_Eliminar_VCliente_E_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_VDetalleIngreso_O_SiguienteCodigoDetalleIngreso">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VDetalleIngreso_O_SiguienteCodigoDetalleIngreso" message="tns:ISWADNETVENTAS_Obtener_VDetalleIngreso_O_SiguienteCodigoDetalleIngreso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VDetalleIngreso_O_SiguienteCodigoDetalleIngresoResponse" message="tns:ISWADNETVENTAS_Obtener_VDetalleIngreso_O_SiguienteCodigoDetalleIngreso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_VDetalleIngreso_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Insertar_VDetalleIngreso_I" message="tns:ISWADNETVENTAS_Insertar_VDetalleIngreso_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Insertar_VDetalleIngreso_IResponse" message="tns:ISWADNETVENTAS_Insertar_VDetalleIngreso_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_VDetalleIngreso_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VDetalleIngreso_O" message="tns:ISWADNETVENTAS_Obtener_VDetalleIngreso_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VDetalleIngreso_OResponse" message="tns:ISWADNETVENTAS_Obtener_VDetalleIngreso_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_VIngreso_O_SiguienteCodigoIngreso">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VIngreso_O_SiguienteCodigoIngreso" message="tns:ISWADNETVENTAS_Obtener_VIngreso_O_SiguienteCodigoIngreso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VIngreso_O_SiguienteCodigoIngresoResponse" message="tns:ISWADNETVENTAS_Obtener_VIngreso_O_SiguienteCodigoIngreso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_VIngreso_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Insertar_VIngreso_I" message="tns:ISWADNETVENTAS_Insertar_VIngreso_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Insertar_VIngreso_IResponse" message="tns:ISWADNETVENTAS_Insertar_VIngreso_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_VIngreso_O_CodigoIngreso">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VIngreso_O_CodigoIngreso" message="tns:ISWADNETVENTAS_Obtener_VIngreso_O_CodigoIngreso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VIngreso_O_CodigoIngresoResponse" message="tns:ISWADNETVENTAS_Obtener_VIngreso_O_CodigoIngreso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_VIngreso_O_Todo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VIngreso_O_Todo" message="tns:ISWADNETVENTAS_Obtener_VIngreso_O_Todo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VIngreso_O_TodoResponse" message="tns:ISWADNETVENTAS_Obtener_VIngreso_O_Todo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISWADNETVENTAS" type="tns:ISWADNETVENTAS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener_VCliente_O_SiguienteCodigoCliente">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Obtener_VCliente_O_SiguienteCodigoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_VCliente_I">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Insertar_VCliente_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_VCliente_O">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Obtener_VCliente_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_VCliente_A">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Actualizar_VCliente_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_VClientes_O_Todo">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Obtener_VClientes_O_Todo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_VCliente_E">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Eliminar_VCliente_E" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_VDetalleIngreso_O_SiguienteCodigoDetalleIngreso">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Obtener_VDetalleIngreso_O_SiguienteCodigoDetalleIngreso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_VDetalleIngreso_I">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Insertar_VDetalleIngreso_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_VDetalleIngreso_O">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Obtener_VDetalleIngreso_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_VIngreso_O_SiguienteCodigoIngreso">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Obtener_VIngreso_O_SiguienteCodigoIngreso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_VIngreso_I">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Insertar_VIngreso_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_VIngreso_O_CodigoIngreso">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Obtener_VIngreso_O_CodigoIngreso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_VIngreso_O_Todo">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Obtener_VIngreso_O_Todo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWADNETVENTAS">
    <wsdl:port name="BasicHttpBinding_ISWADNETVENTAS" binding="tns:BasicHttpBinding_ISWADNETVENTAS">
      <soap:address location="http://localhost:59438/SWADNETVENTAS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>