SWLNVENTAS/App_WebReferences/SWADNETVENTAS/SWADNETVENTAS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SWADNETVENTAS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59438/SWADNETVENTAS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59438/SWADNETVENTAS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59438/SWADNETVENTAS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VDetalleVenta_O_SiguienteCodigoDetalleVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VDetalleVenta_O_SiguienteCodigoDetalleVenta" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VDetalleVenta_O_SiguienteCodigoDetalleVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VDetalleVenta_O_SiguienteCodigoDetalleVentaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Insertar_VDetalleVenta_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_VDetalleVenta_I" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Insertar_VDetalleVenta_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_VDetalleVenta_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VDetalleVenta_O_CodigoVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VDetalleVenta_O_CodigoVenta" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VDetalleVenta_O_CodigoVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VDetalleVenta_O_CodigoVentaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VVenta_O_SiguienteCodigoVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VVenta_O_SiguienteCodigoVenta" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VVenta_O_SiguienteCodigoVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VVenta_O_SiguienteCodigoVentaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Insertar_VVenta_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_VVenta_I" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Insertar_VVenta_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_VVenta_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VVenta_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VVenta_O" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VVenta_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VVenta_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VUsuario_O_SiguienteCodigoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VUsuario_O_SiguienteCodigoUsuario" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VUsuario_O_SiguienteCodigoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VUsuario_O_SiguienteCodigoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Insertar_VUsuario_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_VUsuario_I" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Insertar_VUsuario_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_VUsuario_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VUsuario_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VUsuario_O" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VUsuario_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VUsuario_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Actualizar_VUsuario_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_VUsuario_A" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Actualizar_VUsuario_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_VUsuario_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VUsuario_O_Todo_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VUsuario_O_Todo" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Obtener_VUsuario_O_Todo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VUsuario_O_TodoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Eliminar_VUsuario_E_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_VUsuario_E" />
  </wsdl:message>
  <wsdl:message name="ISWADNETVENTAS_Eliminar_VUsuario_E_OutputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_VUsuario_EResponse" />
  </wsdl:message>
  <wsdl:portType name="ISWADNETVENTAS">
    <wsdl:operation name="Obtener_VDetalleVenta_O_SiguienteCodigoDetalleVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VDetalleVenta_O_SiguienteCodigoDetalleVenta" message="tns:ISWADNETVENTAS_Obtener_VDetalleVenta_O_SiguienteCodigoDetalleVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VDetalleVenta_O_SiguienteCodigoDetalleVentaResponse" message="tns:ISWADNETVENTAS_Obtener_VDetalleVenta_O_SiguienteCodigoDetalleVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_VDetalleVenta_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Insertar_VDetalleVenta_I" message="tns:ISWADNETVENTAS_Insertar_VDetalleVenta_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Insertar_VDetalleVenta_IResponse" message="tns:ISWADNETVENTAS_Insertar_VDetalleVenta_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_VDetalleVenta_O_CodigoVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VDetalleVenta_O_CodigoVenta" message="tns:ISWADNETVENTAS_Obtener_VDetalleVenta_O_CodigoVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VDetalleVenta_O_CodigoVentaResponse" message="tns:ISWADNETVENTAS_Obtener_VDetalleVenta_O_CodigoVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_VVenta_O_SiguienteCodigoVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VVenta_O_SiguienteCodigoVenta" message="tns:ISWADNETVENTAS_Obtener_VVenta_O_SiguienteCodigoVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VVenta_O_SiguienteCodigoVentaResponse" message="tns:ISWADNETVENTAS_Obtener_VVenta_O_SiguienteCodigoVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_VVenta_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Insertar_VVenta_I" message="tns:ISWADNETVENTAS_Insertar_VVenta_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Insertar_VVenta_IResponse" message="tns:ISWADNETVENTAS_Insertar_VVenta_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_VVenta_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VVenta_O" message="tns:ISWADNETVENTAS_Obtener_VVenta_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VVenta_OResponse" message="tns:ISWADNETVENTAS_Obtener_VVenta_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_VUsuario_O_SiguienteCodigoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VUsuario_O_SiguienteCodigoUsuario" message="tns:ISWADNETVENTAS_Obtener_VUsuario_O_SiguienteCodigoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VUsuario_O_SiguienteCodigoUsuarioResponse" message="tns:ISWADNETVENTAS_Obtener_VUsuario_O_SiguienteCodigoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_VUsuario_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Insertar_VUsuario_I" message="tns:ISWADNETVENTAS_Insertar_VUsuario_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Insertar_VUsuario_IResponse" message="tns:ISWADNETVENTAS_Insertar_VUsuario_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_VUsuario_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VUsuario_O" message="tns:ISWADNETVENTAS_Obtener_VUsuario_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VUsuario_OResponse" message="tns:ISWADNETVENTAS_Obtener_VUsuario_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_VUsuario_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Actualizar_VUsuario_A" message="tns:ISWADNETVENTAS_Actualizar_VUsuario_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Actualizar_VUsuario_AResponse" message="tns:ISWADNETVENTAS_Actualizar_VUsuario_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_VUsuario_O_Todo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VUsuario_O_Todo" message="tns:ISWADNETVENTAS_Obtener_VUsuario_O_Todo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Obtener_VUsuario_O_TodoResponse" message="tns:ISWADNETVENTAS_Obtener_VUsuario_O_Todo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar_VUsuario_E">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Eliminar_VUsuario_E" message="tns:ISWADNETVENTAS_Eliminar_VUsuario_E_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETVENTAS/Eliminar_VUsuario_EResponse" message="tns:ISWADNETVENTAS_Eliminar_VUsuario_E_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISWADNETVENTAS" type="tns:ISWADNETVENTAS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener_VDetalleVenta_O_SiguienteCodigoDetalleVenta">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Obtener_VDetalleVenta_O_SiguienteCodigoDetalleVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_VDetalleVenta_I">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Insertar_VDetalleVenta_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_VDetalleVenta_O_CodigoVenta">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Obtener_VDetalleVenta_O_CodigoVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_VVenta_O_SiguienteCodigoVenta">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Obtener_VVenta_O_SiguienteCodigoVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_VVenta_I">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Insertar_VVenta_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_VVenta_O">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Obtener_VVenta_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_VUsuario_O_SiguienteCodigoUsuario">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Obtener_VUsuario_O_SiguienteCodigoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_VUsuario_I">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Insertar_VUsuario_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_VUsuario_O">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Obtener_VUsuario_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_VUsuario_A">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Actualizar_VUsuario_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_VUsuario_O_Todo">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Obtener_VUsuario_O_Todo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_VUsuario_E">
      <soap:operation soapAction="http://tempuri.org/ISWADNETVENTAS/Eliminar_VUsuario_E" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWADNETVENTAS">
    <wsdl:port name="BasicHttpBinding_ISWADNETVENTAS" binding="tns:BasicHttpBinding_ISWADNETVENTAS">
      <soap:address location="http://localhost:59438/SWADNETVENTAS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>