WAVENTAS/App_WebReferences/SWLNVENTAS/SWLNVENTAS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59753/SWLNVENTAS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Obtener_VProveedor_O_SiguienteCodigoProveedor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VProveedor_O_SiguienteCodigoProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_VProveedor_O_SiguienteCodigoProveedorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_VProveedor_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProveedor" type="xs:int" />
        <xs:element minOccurs="0" name="tipoProveedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="razonSocialProveedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccionProveedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="celularProveedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correoProveedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_VProveedor_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VProveedor_O">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProveedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VProveedor_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VProveedor_OResult" nillable="true" type="q1:EVProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_VProveedor_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProveedor" type="xs:int" />
        <xs:element minOccurs="0" name="tipoProveedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="razonSocialProveedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccionProveedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="celularProveedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correoProveedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_VProveedor_AResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VProveedor_O_Todo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VProveedor_O_TodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VProveedor_O_TodoResult" nillable="true" type="q2:ArrayOfEVProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_VProveedor_E">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProveedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_VProveedor_EResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>