WAVENTAS/App_WebReferences/SWLNVENTAS/SWLNVENTAS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EVCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="CelularCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CiONitCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCliente" type="xs:int" />
      <xs:element minOccurs="0" name="DirecionCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RazonSocialCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCliente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EVCliente" nillable="true" type="tns:EVCliente" />
  <xs:complexType name="ArrayOfEVCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EVCliente" nillable="true" type="tns:EVCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEVCliente" nillable="true" type="tns:ArrayOfEVCliente" />
  <xs:complexType name="EIngreso">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIngreso" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImpuestoIngreso" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalIngreso" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EIngreso" nillable="true" type="tns:EIngreso" />
  <xs:complexType name="ArrayOfEDetalleIngreso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EDetalleIngreso" nillable="true" type="tns:EDetalleIngreso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEDetalleIngreso" nillable="true" type="tns:ArrayOfEDetalleIngreso" />
  <xs:complexType name="EDetalleIngreso">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadIngreso" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoArticulo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoDetalleIngreso" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIngreso" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioIngreso" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EDetalleIngreso" nillable="true" type="tns:EDetalleIngreso" />
</xs:schema>