WAVENTAS/App_WebReferences/SWLNVENTAS/SWLNVENTAS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EVArticulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoriaArticulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoArticulo" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombreArticulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioCompraArticulo" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioVentaArticulo" type="xs:double" />
      <xs:element minOccurs="0" name="StockArticulo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EVArticulo" nillable="true" type="tns:EVArticulo" />
  <xs:complexType name="ArrayOfEVArticulo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EVArticulo" nillable="true" type="tns:EVArticulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEVArticulo" nillable="true" type="tns:ArrayOfEVArticulo" />
</xs:schema>