WAVENTAS/App_WebReferences/SWLNVENTAS/SWLNVENTAS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EVProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="CelularProveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="CorreoProveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionProveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RazonSocialProveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoProveedor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EVProveedor" nillable="true" type="tns:EVProveedor" />
  <xs:complexType name="ArrayOfEVProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EVProveedor" nillable="true" type="tns:EVProveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEVProveedor" nillable="true" type="tns:ArrayOfEVProveedor" />
</xs:schema>