WAVENTAS/App_WebReferences/SWLNVENTAS/SWLNVENTAS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SWLNVENTAS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59753/SWLNVENTAS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59753/SWLNVENTAS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59753/SWLNVENTAS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISWLNVENTAS_Obtener_VUsuario_O_SiguienteCodigoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VUsuario_O_SiguienteCodigoUsuario" />
  </wsdl:message>
  <wsdl:message name="ISWLNVENTAS_Obtener_VUsuario_O_SiguienteCodigoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VUsuario_O_SiguienteCodigoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNVENTAS_Insertar_VUsuario_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_VUsuario_I" />
  </wsdl:message>
  <wsdl:message name="ISWLNVENTAS_Insertar_VUsuario_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_VUsuario_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNVENTAS_Obtener_VUsuario_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VUsuario_O" />
  </wsdl:message>
  <wsdl:message name="ISWLNVENTAS_Obtener_VUsuario_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VUsuario_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNVENTAS_Actualizar_VUsuario_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_VUsuario_A" />
  </wsdl:message>
  <wsdl:message name="ISWLNVENTAS_Actualizar_VUsuario_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_VUsuario_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNVENTAS_Obtener_VUsuario_O_Todo_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VUsuario_O_Todo" />
  </wsdl:message>
  <wsdl:message name="ISWLNVENTAS_Obtener_VUsuario_O_Todo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_VUsuario_O_TodoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNVENTAS_Eliminar_VUsuario_E_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_VUsuario_E" />
  </wsdl:message>
  <wsdl:message name="ISWLNVENTAS_Eliminar_VUsuario_E_OutputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_VUsuario_EResponse" />
  </wsdl:message>
  <wsdl:portType name="ISWLNVENTAS">
    <wsdl:operation name="Obtener_VUsuario_O_SiguienteCodigoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNVENTAS/Obtener_VUsuario_O_SiguienteCodigoUsuario" message="tns:ISWLNVENTAS_Obtener_VUsuario_O_SiguienteCodigoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNVENTAS/Obtener_VUsuario_O_SiguienteCodigoUsuarioResponse" message="tns:ISWLNVENTAS_Obtener_VUsuario_O_SiguienteCodigoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_VUsuario_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNVENTAS/Insertar_VUsuario_I" message="tns:ISWLNVENTAS_Insertar_VUsuario_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNVENTAS/Insertar_VUsuario_IResponse" message="tns:ISWLNVENTAS_Insertar_VUsuario_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_VUsuario_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNVENTAS/Obtener_VUsuario_O" message="tns:ISWLNVENTAS_Obtener_VUsuario_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNVENTAS/Obtener_VUsuario_OResponse" message="tns:ISWLNVENTAS_Obtener_VUsuario_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_VUsuario_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNVENTAS/Actualizar_VUsuario_A" message="tns:ISWLNVENTAS_Actualizar_VUsuario_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNVENTAS/Actualizar_VUsuario_AResponse" message="tns:ISWLNVENTAS_Actualizar_VUsuario_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_VUsuario_O_Todo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNVENTAS/Obtener_VUsuario_O_Todo" message="tns:ISWLNVENTAS_Obtener_VUsuario_O_Todo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNVENTAS/Obtener_VUsuario_O_TodoResponse" message="tns:ISWLNVENTAS_Obtener_VUsuario_O_Todo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar_VUsuario_E">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNVENTAS/Eliminar_VUsuario_E" message="tns:ISWLNVENTAS_Eliminar_VUsuario_E_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNVENTAS/Eliminar_VUsuario_EResponse" message="tns:ISWLNVENTAS_Eliminar_VUsuario_E_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISWLNVENTAS" type="tns:ISWLNVENTAS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener_VUsuario_O_SiguienteCodigoUsuario">
      <soap:operation soapAction="http://tempuri.org/ISWLNVENTAS/Obtener_VUsuario_O_SiguienteCodigoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_VUsuario_I">
      <soap:operation soapAction="http://tempuri.org/ISWLNVENTAS/Insertar_VUsuario_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_VUsuario_O">
      <soap:operation soapAction="http://tempuri.org/ISWLNVENTAS/Obtener_VUsuario_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_VUsuario_A">
      <soap:operation soapAction="http://tempuri.org/ISWLNVENTAS/Actualizar_VUsuario_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_VUsuario_O_Todo">
      <soap:operation soapAction="http://tempuri.org/ISWLNVENTAS/Obtener_VUsuario_O_Todo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_VUsuario_E">
      <soap:operation soapAction="http://tempuri.org/ISWLNVENTAS/Eliminar_VUsuario_E" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWLNVENTAS">
    <wsdl:port name="BasicHttpBinding_ISWLNVENTAS" binding="tns:BasicHttpBinding_ISWLNVENTAS">
      <soap:address location="http://localhost:59753/SWLNVENTAS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>