WAVENTAS/App_WebReferences/SWLNVENTAS/SWLNVENTAS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59753/SWLNVENTAS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Obtener_VCliente_O_SiguienteCodigoCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VCliente_O_SiguienteCodigoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_VCliente_O_SiguienteCodigoClienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_VCliente_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCliente" type="xs:int" />
        <xs:element minOccurs="0" name="razonSocialCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ciONitCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direcionCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="celularCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_VCliente_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VCliente_O">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VCliente_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VCliente_OResult" nillable="true" type="q1:EVCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_VCliente_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCliente" type="xs:int" />
        <xs:element minOccurs="0" name="razonSocialCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ciONitCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direcionCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="celularCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_VCliente_AResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VClientes_O_Todo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VClientes_O_TodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VClientes_O_TodoResult" nillable="true" type="q2:ArrayOfEVCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_VCliente_E">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_VCliente_EResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Ingreso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ingreso" nillable="true" type="q3:EIngreso" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="detalleIngresos" nillable="true" type="q4:ArrayOfEDetalleIngreso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_IngresoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>