WAVENTAS/App_WebReferences/SWLNVENTAS/SWLNVENTAS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EVUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidosUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CelularUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="CorreoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActulizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombresUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EVUsuario" nillable="true" type="tns:EVUsuario" />
  <xs:complexType name="ArrayOfEVUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EVUsuario" nillable="true" type="tns:EVUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEVUsuario" nillable="true" type="tns:ArrayOfEVUsuario" />
</xs:schema>